@font-face {
  font-family: Product;
  src: url(../assets/fonts/productsans.ttf);
}
html, body {
  font-family: "Product", Calibri, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  /* Advice from Google :
   Always set the map height explicitly to define the size of the div
  * element that contains the map. */
}
html ul, body ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
html ul li #bouton, body ul li #bouton {
  color: white;
  background-color: #2b547f;
  padding: 7px;
  margin-right: 50px;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 740px) {
  html ul li #bouton, body ul li #bouton {
    display: none;
  }
}
html ul li a, body ul li a {
  text-decoration: none;
}
@media screen and (max-width: 740px) {
  html ul, body ul {
    padding: 0;
    justify-content: center;
  }
}
html #map, body #map {
  height: 100%;
}
html .bottom, body .bottom {
  display: none;
}
@media screen and (max-width: 740px) {
  html .bottom, body .bottom {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #2b547f;
    padding: 10px 0 10px 0;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
  }
}
html #history, body #history {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #2b547f;
  color: white;
}
html #history .head, body #history .head {
  display: flex;
  align-items: center;
  flex-direction: column;
}
html #history .head a, body #history .head a {
  align-self: flex-end;
  margin: 30px 30px 0px 30px;
}
html #history .head a img, body #history .head a img {
  width: 20px;
  height: 20px;
}
html #history .head h2, body #history .head h2 {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}
@media screen and (max-width: 740px) {
  html #history .head h2, body #history .head h2 {
    font-size: 25px;
  }
}
html #history #positions, body #history #positions {
  width: 98%;
  overflow-y: scroll;
  height: 800px;
}
html #history #positions::-webkit-scrollbar, body #history #positions::-webkit-scrollbar {
  display: none;
}
html #history #positions p, body #history #positions p {
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
}
html #history #positions .date_heure, body #history #positions .date_heure {
  font-size: 35px;
}
html #history #positions .date_heure #date, body #history #positions .date_heure #date {
  font-weight: bold;
}
html #history #positions #addr, body #history #positions #addr {
  font-size: 20px;
}
html #history #positions .latlong #lat, body #history #positions .latlong #lat {
  margin-right: 10px;
}
html #history #positions #activation, body #history #positions #activation {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  font-style: italic;
  display: block;
}

/*# sourceMappingURL=main.css.map */
